<!DOCTYPE html>
<html>
  <head>
    <title>SpaceShooterThingy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <% if user_signed_in? && !current_user.banned? %>
        <%= link_to 'Home', root_path %>
        <%= link_to 'Scoreboard', scoreboard_path %>
        <%= link_to 'Account', edit_user_registration_path %>
        <%= link_to('Log Out', destroy_user_session_path, method: :delete) %>
      <% elsif !user_signed_in? %>
        <%= link_to('Log In', new_user_session_path) %>
        <%= link_to 'Scoreboard', scoreboard_path %>
      <% end %>
    </nav>

    <%= yield %>

  </body>
</html>
